<div class="page-header">
  <h1>
    <%= @word.word %>
  </h1>
    <%= @word.reading %>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
       意味
      </div>
      <div class="panel-body">
        <%= @word.meaning %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
       例文
      </div>
      <div class="panel-body">
        <%= @word.example %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <%= link_to("単語を削除する", @word, class: 'btn btn-danger btn-lg btn-block', method: :delete, data: {confirm: "本当に削除しますか？"}) %>
  </div>

</div>
