<!DOCTYPE html>
<html>
  <head>
    <title>TanGo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'TanGO', root_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to '単語を追加する', new_word_path %></li>
            <li><%= link_to '単語を検索する', root_path %></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
